#pokemon-img {
    top: 30.5%;
    left: 17%;
    width: 18%;
}

#pokemon-name {
    top: 54.7%;
    left: 11.2%;
    width: 30%;
    font-size: 1.6vw;
}

#pokemon-id {
    bottom: 8.5%;
    left: 13.8%;
    width: 15%;
    font-size: 3.5vw;
}

#pokemon-height {
    top: 36%;
    right: 7.8%;
    width: 31%;
    font-size: 1.6vw;
}

#pokemon-weight {
    top: 41%;
    right: 7.8%;
    width: 31%;
    font-size: 1.6vw;
}